body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: white;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}

ul,
ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
}

button {
    border: none;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container {
    width: 100%;
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    /* margin: 0 auto; */
    margin-right: auto;
    margin-left: auto;
}

.icons {
    fill: #F4F4FD;
}

/* -------------------------------------------------*/

/* ----------------HEADER---------------------*/

.header {
    border-bottom: 1px solid #e7e9fc;
    background-color: #FFF;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container {
    display: flex;
    justify-content: space-between;
}

.header_nav {
    display: flex;
    align-items: center;
}

.header_nav-logo {
    color: #4D5AE5;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-right: 76px;
}

.header_nav-list {
    display: flex;
    gap: 40px;
}

.header_nav-logo span {
    color: #2E2F42;
    cursor: pointer;
}

.header_nav-link {
    display: block;
    padding: 24px 0;
    color: #2E2F42;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header_nav-link:hover,
.header_nav-link:focus {
    color: #404BBF;
    cursor: pointer;
}

.current {
    position: relative;
    color: #404BBF;
}

.current::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    background-color: #404BBF;
    border-radius: 2px;
    height: 4px;
    width: 100%;
}

.header_address {
    font-style: normal;
}

.header_address-list {
    display: flex;
    gap: 40px;
}

.header_address-link {
    display: inline-block;
    padding: 24px 0;
    color: #434455;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header_address-link:hover,
.header_address-link:focus {
    color: #404BBF;
    cursor: pointer;
}

/* -------------------------------------*/

/* ----------------HERO---------------------*/

.hero {
    background-color: #2E2F42;
    background-image: linear-gradient(rgba(46, 47, 66, 0.70), rgba(46, 47, 66, 0.70)), url(../images/hero-background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 1440px;
    /* max-width: 1440px;
    margin: 0 auto; */
    padding: 188px 0;
}

.hero_title {
    max-width: 496px;
    margin: 0 auto 48px;
    color: #FFF;
    text-align: center;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
}

.hero_btn {
    display: block;
    min-width: 169px;
    padding: 16px 32px;
    margin: 0 auto;
    border-radius: 4px;
    background-color: #4D5AE5;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    color: #FFF;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero_btn:hover,
.hero_btn:focus {
    background-color: #404BBF;
}

/* -------------------------------------*/

/* ----------------ABOUT---------------------*/

.about {
    padding-top: 120px;
    padding-bottom: 120px;
}

.about_list {
    display: flex;
    gap: 24px;
}

.about_list-item {
    width: calc((100% - 24px * 3) / 4);
}

.about_list-icon-box {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 112px;
    margin-bottom: 8px;
    border-radius: 4px;
    border: 1px solid #8E8F99;
    background: #F4F4FD;
}

.about_list-title {
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.about_list-text {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/* -------------------------------------*/

/* ----------------TEAM---------------------*/

.team {
    background-color: #F4F4FD;
    padding-top: 120px;
    padding-bottom: 120px;
}

.team_title {
    margin: 0 auto 72px;
    color: #2E2F42;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}

.team_list {
    display: flex;
    gap: 24px;
}

.team_list_items {
    border-radius: 0px 0px 4px 4px;
    background-color: #FFFFFF;
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.team_list-info {
    padding-top: 32px;
    padding-bottom: 32px;
}

.team_list-title {
    text-align: center;
    margin-bottom: 8px;
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.team_list-text {
    text-align: center;
    margin-bottom: 8px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.team_list-icons {
    display: flex;
    gap: 24px;
    justify-content: center;
    align-items: center;
}

.team_list-icons .team_icons-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #4D5AE5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team_list-icons .team_icons-link:hover,
.team_list-icons .team_icons-link:focus {
    background-color: #404BBF;
}

/* -------------------------------------*/

/* ----------------PORTFOLIO---------------------*/

.portfolio {
    padding-top: 120px;
    padding-bottom: 120px;
}

.portfolio_title {
    margin: 0 auto;
    margin-bottom: 72px;
    color: #2E2F42;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}

.portfolio_list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 48px;
    column-gap: 24px;
}

.portfolio_list-items {
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;
}

.portfolio_list-items:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio_box-img {
    position: relative;
    overflow: hidden;
}

.portfolio_cover-text {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 40px 32px;
    /* background: linear-gradient(#4D5AE5, #4D5AE5); */
    background-color: #4D5AE5;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    color: #F4F4FD;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.portfolio_list-items:hover .portfolio_cover-text {
    transform: translateY(0%);
}

.portfolio_list-info {
    padding: 32px 16px;
    border: 1px solid #E7E9FC;
    border-top: 0;
}

.portfolio_list-title {
    margin-bottom: 8px;
    color: #2E2F42;
    /* text-align: center; */
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.portfolio_list-text {
    /* text-align: center; */
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/* -------------------------------------*/

/* ----------------FOOTER---------------------*/

.footer {
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: #2E2F42;
}

.footer-container {
    display: flex;
    align-items: baseline;
}

.footer_text {
    margin-right: 120px;
}

.footer_logo {
    display: inline-block;
    margin-bottom: 16px;
    color: #4D5AE5;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.footer_logo-mod {
    color: #F4F4FD;
}

.footer_info {
    max-width: 264px;
    color: #F4F4FD;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.footer_social {
    margin-right: 80px;
}

.social_title {
    margin-bottom: 16px;
    color: #FFF;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.social_icons-list {
    display: flex;
    gap: 16px;
}

.social_icons-list .social_icons-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #4D5AE5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social_icons-list .social_icons-link:hover,
.social_icons-list .social_icons-link:focus,
.social_icons-list .social_icons-link:active {
    background-color: #31D0AA;
}

.footer_form-title {
    color: #FFF;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
}

.footer_form {
    display: flex;
    align-items: center;
    gap: 24px;
}

.footer_form-input {
    width: 264px;
    height: 40px;
    background-color: transparent;
    border-radius: 4px;
    border: 1px solid #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    padding: 8px 16px;
    outline: transparent;
    color: #FFF;
    font-family: inherit;
    font-size: 12px;
    font-weight: 400;
    line-height: 2;
    letter-spacing: 0.04em;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer_form-input::placeholder {
    color: #FFF;
    font-size: 12px;
    font-weight: 400;
    line-height: 2;
    letter-spacing: 0.04em;
}

.footer_form-input:hover,
.footer_form-input:focus,
.footer_form-input:active {
    border-color: #4D5AE5;
}

.footer_form-input:hover::placeholder,
.footer_form-input:focus::placeholder,
.footer_form-input:active::placeholder {
    color: #4D5AE5;
}

.footer_form-btn {
    min-width: 165px;
    padding: 8px 24px;
    border-radius: 4px;
    background: #4D5AE5;
    color: #FFF;
    font-size: 16px;
    font-style: inherit;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer_form-btn:hover,
.footer_form-btn:focus,
.footer_form-btn:active {
    background-color: #31D0AA;
}

.footer_btn-icons {
    margin-left: 16px;
}

/* ----------------------------------------------*/

/* --------------------MODAL---------------------*/

.backdrop {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(46, 47, 66, 0.40);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.modal {
    width: 408px;
    min-height: 584px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    border-radius: 4px;
    background: #FCFCFC;
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 2px 1px 0px rgba(0, 0, 0, 0.20);
    padding: 72px 24px 24px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal_close-btn {
    width: 24px;
    height: 24px;
    padding: 0;
    /* margin-left: auto; */
    position: absolute;
    top: 24px;
    right: 24px;
    margin-bottom: 24px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.10);
    background-color: #E7E9FC;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal_close-btn:hover,
.modal_close-btn:focus,
.modal_close-btn:active {
    border: none;
    background-color: #404BBF;
}

.modal_close-icons {
    fill: #2E2F42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal_close-btn:hover>.modal_close-icons,
.modal_close-btn:focus>.modal_close-icons,
.modal_close-btn:active>.modal_close-icons {
    fill: #FFFFFF;
}

.modal_title {
    margin-bottom: 16px;
    color: #2E2F42;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.modal_field {
    margin-bottom: 8px;
}

.modal_label {
    display: block;
    margin-bottom: 4px;
    color: #8E8F99;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
}

.modal_input-wrap {
    position: relative;
}

.modal_input {
    width: 100%;
    min-height: 40px;
    background-color: transparent;
    border-radius: 4px;
    border: 1px solid rgba(46, 47, 66, 0.40);
    background-color: transparent;
    outline: transparent;
    padding: 0 0 0 38px;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal_input:hover,
.modal_input:focus,
.modal_input:active {
    border-color: #4D5AE5;
}

.modal_icons {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    fill: #2E2F42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal_input:focus+.modal_icons,
.modal_input:active+.modal_icons {
    fill: #4D5AE5;
}

.comments_field {
    margin-bottom: 16px;
}

.modal_comments {
    width: 100%;
    min-height: 120px;
    background-color: transparent;
    border-radius: 4px;
    border: 1px solid rgba(46, 47, 66, 0.40);
    background-color: transparent;
    outline: transparent;
    resize: none;
    padding: 8px 16px;
    color: rgba(46, 47, 66, 0.4);
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal_comments::placeholder {
    color: rgba(46, 47, 66, 0.40);
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
}

.modal_comments:hover,
.modal_comments:focus,
.modal_comments:active {
    border-color: #4D5AE5;
}

.checkbox_field {
    margin-bottom: 24px;
}

/* .checkbox_label {
    display: flex;
    align-items: center;
} */

.checkbox_label a {
    margin-left: 3.25px;
    color: #4D5AE5;
    text-decoration-line: underline;
}

.modal_label-span {
    display: inline-flex;
    /* display: block; */
    width: 16px;
    height: 16px;
    margin-right: 8px;
    background-color: transparent;
    border-radius: 2px;
    border: 1px solid rgba(46, 47, 66, 0.40);
    /* display: flex; */
    align-items: center;
    justify-content: center;
    fill: transparent;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal_checkbox:checked+.checkbox_label span {
    border: none;
    background-color: #404BBF;
    fill: #F4F4FD;
}

.modal_btn-submit {
    display: block;
    min-width: 169px;
    margin: 0 auto;
    padding: 16px 32px;
    border-radius: 4px;
    background: #4D5AE5;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-style: inherit;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal_btn-submit:hover,
.modal_btn-submit:focus,
.modal_btn-submit:active {
    background-color: #404BBF;
}